main {
    width: 20px;
    height: 200px;
    padding: 10px;
    background: beige;
  }
  head{
    width: 100%;
  }
  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    text-align: right;
    font-size:x-large;
    border-bottom: 1px dotted orange;
    background-color: orange;
    padding:8px;
  }
 
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-size:x-large;
    border-bottom: 1px dotted orange;
    background-color: lightseagreen;
    padding:9px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 80%;
  }
  nav{
    text-align: right;
    color: white;
    font-size: 0.55cm;
    margin-right: 4mm;
      
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
    background-color: white;
  }
  
  #customers td, #customers th {
    border: 1.2px solid black;
    padding: 6px;
  }
  form{
    text-align:left;

  }
  
  #customers tr:hover {background-color: silver;}
  
  #customers th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: dodgerblue;
    color: white;
  }
  a
  {
      color: black;
      font-size: 0.40cm;
      margin-right: 3mm;
  }
  body {
    
  background-image: url("https://wallpapercave.com/wp/wp7213368.jpg");
  background-color: whitesmoke;
}
